<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">3A Vistorias</a>
        </div>
    </div>
</div>

<div class="container" ui-view>
</div><!-- END CONTAINER -->

<footer style="width: 100%; position: absolute; bottom: 0px; text-align: center;">
    <div class="container">
        <div class="text-center" style="font-family: arial">
            <p>&copy; 2016 Owner - Todos os direitos reservados - powered by Coder Up!</p>
        </div>
    </div>
</footer>
