<div class="row">
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-1">
                <a href="javascript:void(0)"
                   class="btn btn-primary btn-fab"
                   ui-sref="app.seguradoras"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="col-md-11">
                <h2>{{isUpdate ? 'Alterar':'Nova'}} Seguradora</h2>
            </div>
        </div>

        <div class="row register-container transparent" style="margin-top: 20px;">

            <div id="register">
                <form id="seguradora-form" role="form" name="seguradoraForm">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group label-static">
                                <label for="nome" class="control-label">Nome</label>
                                <input type="text"
                                       class="form-control"
                                       id="nome"
                                       ng-model="seguradora.nome"
                                       name="nome" required>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-3" style="padding: 0 30px 0 0;">
                                <div class="form-group label-static">
                                    <label class="control-label">Matriz</label>
                                    <div class="btn-group custom-toggle" data-toggle="buttons">
                                        <label class="btn btn-success active" ng-click="seguradora.isMatriz=true">
                                            <input type="radio"
                                                   name="options"
                                                   autocomplete="off"
                                                   checked> Sim
                                        </label>
                                        <label class="btn btn-danger" ng-click="seguradora.isMatriz=false">
                                            <input type="radio"
                                                   name="options"
                                                   autocomplete="off"> Não
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3" style="padding: 0 30px 0 0;" ng-hide="seguradora.isMatriz">
                                <div class="form-group label-static">
                                    <label for="filial" class="control-label">Filial</label>
                                    <input type="text"
                                           class="form-control"
                                           id="filial"
                                           ng-model="seguradora.filial"
                                           name="filial"
                                           ng-required="seguradora.isMatriz">
                                    <i class="fa fa-question form-control-feedback"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3" style="padding: 0 30px 0 0;">
                                <div class="form-group label-static">
                                    <label for="cnpj" class="control-label">CNPJ</label>
                                    <input type="text"
                                           class="form-control"
                                           id="cnpj"
                                           ng-model="seguradora.cnpj"
                                           name="cnpj"
                                           mask="cnpj">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group label-static">
                                <label for="endereco" class="control-label">Endereço</label>
                                <input type="text"
                                       class="form-control"
                                       id="endereco"
                                       ng-model="seguradora.endereco"
                                       name="endereco">
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="col-lg-3" style="padding: 0 30px 0 0;">
                                <div class="form-group label-static">
                                    <label for="enderecoCidade" class="control-label">Cidade:</label>
                                    <input type="text"
                                           class="form-control"
                                           id="enderecoCidade"
                                           ng-model="seguradora.cidade"
                                           name="enderecoCidade"
                                           required>
                                    <i class="fa fa-map-o form-control-feedback"></i>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group label-static">
                                    <label for="enderecoEstado" class="control-label">UF:</label>
                                    <select class="form-control"
                                            id="enderecoEstado"
                                            ng-model="seguradora.estado"
                                            uf-options>
                                    </select>
                                    <i class="fa fa-caret-down form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group label-static">
                                    <label for="enderecoBairro" class="control-label">Bairro:</label>
                                    <input type="text"
                                           class="form-control"
                                           id="enderecoBairro"
                                           ng-model="seguradora.bairro"
                                           name="enderecoBairro"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group label-static">
                                    <label for="enderecoCep" class="control-label">CEP:</label>
                                    <input type="text"
                                           class="form-control"
                                           id="enderecoCep"
                                           ng-model="seguradora.cep"
                                           name="enderecoCep"
                                           mask="cep"
                                           required>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6">
                            <div class="form-group label-static">
                                <label for="responsavelCorrespondencia"
                                       class="control-label">Responsável Correspondência:</label>
                                <input type="text"
                                       class="form-control"
                                       id="responsavelCorrespondencia"
                                       ng-model="seguradora.responsavel"
                                       name="responsavelCorrespondencia">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group label-static">
                                <label for="emailResponsavel" class="control-label">Email Responsável:</label>
                                <input type="email"
                                       class="form-control"
                                       id="emailResponsavel"
                                       ng-model="seguradora.emailResponsavel"
                                       name="emailResponsavel">
                                <i class="fa fa-envelope-o form-control-feedback"></i>
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="form-group label-static">
                                <label for="valorFranquia" class="control-label">Franquia</label>
                                <input type="text"
                                       class="form-control"
                                       id="valorFranquia"
                                       ng-model="seguradora.franquia"
                                       name="valorFranquia"
                                       number-format="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group label-static">
                                <label for="valorReembolsoFixo" class="control-label">Valor Reembolso Fixo</label>
                                <input type="text"
                                       class="form-control"
                                       id="valorReembolsoFixo"
                                       ng-model="seguradora.reembolsoFixo"
                                       name="valorFranquia"
                                       mask-money>
                                <i class="fa fa-usd form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group label-static">
                                <label for="valorKmRodado" class="control-label">Valor por Km rodado</label>
                                <input type="text"
                                       class="form-control"
                                       id="valorKmRodado"
                                       ng-model="seguradora.valorKmRodado"
                                       name="valorFranquia"
                                       mask-money>
                                <i class="fa fa-usd form-control-feedback"></i>
                            </div>
                        </div>
                    </div>

                    <div class="ramos-wrapper row">

                        <div class="row" style="padding:0 20px;">
                            <h3 class="header-panel pull-left">Ramos</h3>

                            <a href="javascript:void(0)"
                               class="btn btn-success btn-raised pull-right"
                                ng-click="showDialogAddRamo()">Novo Ramo</a>
                        </div>


                        <table class="table table-striped table-hover">

                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Frustado</th>
                                    <th>Qtd. Kms sem autorização Prévia</th>
                                    <th>E-mail do responsável</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody ng-if="seguradora.ramos.length > 0">
                                <tr ng-repeat="ramo in seguradora.ramos">
                                    <td>{{ramo.nome}}</td>
                                    <td>{{ramo.frustado}}</td>
                                    <td>{{ramo.kmSemAutorizacaoPrevia}}</td>
                                    <td>{{ramo.emailResponsavel}}</td>
                                    <td>
                                        <a ng-click="confirmDeleteRamo(ramo)"
                                           href="javascript:void(0)"
                                           class="btn btn-raised btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a ng-click="viewRamo(ramo)"
                                           href="javascript:void(0)"
                                                class="btn btn-raised btn-info">
                                            <i class="fa fa-file-text-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="seguradora.ramos.length == 0">
                            <tr>
                                <td colspan="4" style="text-align: center;">Nenhum ramo cadastrado!</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-12">
                        <button id="btn-signup"
                                ng-click="salvar()"
                                href="javascript:void(0)"
                                class="btn btn-raised btn-info pull-right">Salvar</button>
                    </div>

                </form>

            </div>

        </div>



        <!----------------------------------------------------------------
         //-- Modal para adicionar ramos
         ------------------------------------------------------------------>
        <script type="text/ng-template" id="seguradoraDialogAddRamo.html">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
                <h4 class="modal-title">Adicionar Ramo</h4>
            </div>
            <div class="modal-body">
                <form id="ramo-form" role="form" name="ramoForm">
                    <div class="row">
                        <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group label-static">
                                <label for="nomeRamo" class="control-label">Nome</label>
                                <input type="text"
                                       class="form-control"
                                       id="nomeRamo"
                                       ng-model="ramo.nome"
                                       name="nome" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group label-static">
                                <label for="emailResponsavelRamo" class="control-label">E-mail responsável</label>
                                <input type="text"
                                       class="form-control"
                                       id="emailResponsavelRamo"
                                       ng-model="ramo.emailResponsavel"
                                       name="emailResponsavelRamo">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group label-static">
                                <label for="valorFrustado" class="control-label">Valor Frustado</label>
                                <input type="text"
                                       class="form-control"
                                       id="valorFrustado"
                                       ng-model="ramo.frustado"
                                       name="valorFrustado"
                                       mask-money>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group label-static">
                                <label for="valorKmSemAutorizacaoPrevia" class="control-label">Quantidade Km sem autorização prévia</label>
                                <input type="text"
                                       number-format=""
                                       class="form-control"
                                       id="valorKmSemAutorizacaoPrevia"
                                       ng-model="ramo.kmSemAutorizacaoPrevia"
                                       name="valorKmSemAutorizacaoPrevia">
                            </div>
                        </div>
                        </div>

                        <div class="row" style="padding: 30px">
                            <h4>Descrição valores</h4>

                            <table class="table table-hover table-striped">
                                <tr ng-repeat="item in ramo.items">
                                    <td valign="center">{{item.descricao}}</td>
                                    <td>{{item.valor}}</td>
                                    <td width="15%">
                                        <a href="javascript:void(0)"
                                           class="btn btn-danger btn-sm btn-raised"
                                           ng-click="deleteItem(item)">
                                            <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </table>

                            <div ng-show="addItem">
                                <div class="col-lg-5">
                                    <div class="form-group label-static">
                                        <label for="descricaoItem" class="control-label">Descrição</label>
                                        <input type="text"
                                               class="form-control"
                                               id="descricaoItem"
                                               ng-model="novoItem.descricao"
                                               name="descricaoItem">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group label-static">
                                        <label for="valorItem" class="control-label">Valor</label>
                                        <input type="text"
                                               class="form-control"
                                               id="valorItem"
                                               ng-model="novoItem.valor"
                                               name="valorItem" mask-money>
                                    </div>
                                </div>
                                <div class="col-lg-3 pull-right">
                                    <div class="btn-group btn-group-sm btn-group-raised btn-group-vertical">
                                        <a href="javascript:void(0)"
                                           class="btn btn-default"
                                           ng-click="cancelarAddItem()">
                                            Cancelar
                                        </a>
                                        <a href="javascript:void(0)"
                                           class="btn btn-success"
                                           ng-click="salvarItem(novoItem)"><i class="fa fa-check"></i> Salvar</a>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)"
                               ng-click="addItem = true"
                               ng-hide="addItem"
                               class="btn btn-success btn-raised pull-right">
                                <i class="fa fa-plus"></i>
                            </a>

                        </div>
                    </div>
                </form>
            </div>
            <hr class="divider"/>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                <button type="button" ng-click="ok()" class="btn btn-success btn-raised">Salvar</button>
            </div>
        </script>


        <!----------------------------------------------------------------
         //-- Modal para adicionar ramos
         ------------------------------------------------------------------>
        <script type="text/ng-template" id="seguradoraDialogConfirmDelRamo.html">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
                <h4 class="modal-title">Deseja remover Ramo {{ramo.nome}}?</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group label-static">
                                    <label for="nomeRamoDel" class="control-label">Nome</label>
                                    <input type="text"
                                           class="form-control"
                                           id="nomeRamoDel"
                                           ng-model="ramo.nome"
                                           name="nome" required
                                           disabled>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group label-static">
                                    <label for="emailResponsavelRamoDel" class="control-label">E-mail responsável</label>
                                    <input type="text"
                                           class="form-control"
                                           id="emailResponsavelRamoDel"
                                           ng-model="ramo.emailResponsavel"
                                           name="emailResponsavelRamo" disabled>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group label-static">
                                    <label for="valorFrustadoDel" class="control-label">Valor Frustado</label>
                                    <input type="text"
                                           class="form-control"
                                           id="valorFrustadoDel"
                                           ng-model="ramo.frustado"
                                           name="valorFrustado"
                                           mask-money disabled>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group label-static">
                                    <label for="valorKmSemAutorizacaoPreviaDel" class="control-label">Quantidade Km sem autorização prévia</label>
                                    <input type="text"
                                           class="form-control"
                                           id="valorKmSemAutorizacaoPreviaDel"
                                           ng-model="ramo.kmSemAutorizacaoPrevia"
                                           name="valorKmSemAutorizacaoPrevia" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding: 30px">
                            <h4>Descrição valores</h4>

                            <table class="table table-hover table-striped">
                                <tr ng-repeat="item in ramo.items">
                                    <td valign="center">{{item.descricao}}</td>
                                    <td>{{item.valor}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </form>
            </div>
            <hr class="divider"/>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                <button type="button" ng-click="ok()" class="btn btn-danger btn-raised">Remover</button>
            </div>
        </script>

    </div>
</div>
