<div class="row">
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-1">
                <a href="javascript:void(0)"
                   class="btn btn-primary btn-fab"
                   ui-sref="app.pedidos"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="col-md-9">
                <h2>Dados Deslocamento</h2>
            </div>
            <div class="col-md-2">
                <label class="label {{statusPedido.style}}" style="padding: 8px;">
                    {{statusPedido.description.toUpperCase()}}
                </label>
            </div>
        </div>


        <div class="row">
            <ul class="nav nav-tabs" style="margin: 15px 0;">
                <li class="active"><a href="javascript:void(0)" ui-sref="app.pedidos_edit({id:pedido._id})">Pedido</a></li>
                <li class="active"><a href="javascript:void(0)" ui-sref="app.pedidos_add_agendamento({id:pedido._id})">Agendamento</a></li>
                <li class="active"><a href="javascript:void(0)" ui-sref="app.pedidos_add_deslocamento({id:pedido._id})">Deslocamento</a></li>
                <li class="active"><a href="javascript:void(0)" ui-sref="app.pedidos_resumo({id:pedido._id})">Resumo</a></li>
                <li class="active"><a href="javascript:void(0)" ui-sref="app.pedidos_analista({id:pedido._id})">Área do Analista</a></li>
            </ul>
        </div>

        <form id="pedido-deslocamento-form" role="form" name="pedidoDeslocamentoForm">

            <a href="javascript:void(0)" class="btn btn-danger btn-raised" ng-click="confirmDeletePedido(u)">Cancelar Pedido <i class="fa fa-trash"></i></a>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group label-static">
                        <label for="origem" class="control-label">Origem:</label>
                        <input type="text"
                               class="form-control"
                               id="origem"
                               ng-model="pedido.deslocamento.origem"
                               name="origem">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group label-static">
                        <label for="destino" class="control-label">Destino:</label>
                        <input type="text"
                               class="form-control"
                               id="destino"
                               ng-model="pedido.deslocamento.destino"
                               name="destino">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group label-static">
                        <label for="retorno" class="control-label">Retorno:</label>
                        <input type="text"
                               class="form-control"
                               id="retorno"
                               ng-model="pedido.deslocamento.retorno"
                               name="retorno">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group label-static">
                        <label for="kmPercorrido" class="control-label">Km Percorrido:</label>
                        <input number-format
                               type="text"
                               class="form-control"
                               id="kmPercorrido"
                               ng-model="pedido.deslocamento.kmPercorrido"
                               name="kmPercorrido">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group label-static">
                        <label for="outrasDespesas" class="control-label">Outras Despesas:</label>
                        <input number-format
                               type="text"
                               class="form-control"
                               id="outrasDespesas"
                               ng-model="pedido.deslocamento.outrasDespesas"
                               name="outrasDespesas">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div ng-if="pedido.deslocamento.adicionalKm">
                        <div class="form-group label-static">
                            <label for="adicionalKm" class="control-label">Adicional de KM:</label>
                            <input number-format
                                   type="text"
                                   class="form-control"
                                   id="adicionalKm"
                                   ng-model="pedido.deslocamento.adicionalKm"
                                   name="adicionalKm">
                        </div>
                    </div>
                    <button ng-if="!pedido.deslocamento.adicionalKm" ng-click="addKm()"
                            href="javascript:void(0)"
                            class="btn btn-raised btn-info">Adicionar Km</button>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group label-static">
                        <label class="control-label">Status <div class="label {{statusPedido.style}}" style="padding: 8px;">{{statusPedido.description}}</div> </label>
                        <div class="btn-group custom-toggle">
                            <a class="btn btn-danger" ng-class="!showFormPrestador ? 'btn-raised' : ''"
                               ng-click="recusarPedido()">Recusado</a>
                            <a class="btn btn-success" ng-class="showFormPrestador ? 'btn-raised' : ''"
                               ng-click="showFormPrestador=true">Liberado</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary" ng-show="showFormPrestador" style="margin-top: 40px;">
                <div class="panel-heading">
                    <h3 class="panel-title"> Deslocamento do Prestador </h3>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-lg-4">
                            <div class="form-group label-static">
                                <label for="prestador" class="control-label">Prestador:</label>
                                <select class="form-control"
                                        id="prestador"
                                        ng-options="item as item.nome for item in prestadoras track by item._id"
                                        ng-model="prestadorSelected">
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group label-static" ng-if="prestadorSelected">
                                <label for="emailPrestador" class="control-label">E-mail Prestador:</label>
                                <input readonly="readonly"
                                       type="text"
                                       class="form-control"
                                       id="emailPrestador"
                                       ng-model="prestadorSelected.email"
                                       name="emailPrestador">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group label-static">
                                <label for="origemPrestador" class="control-label">Origem:</label>
                                <input type="text"
                                       class="form-control"
                                       id="origemPrestador"
                                       ng-model="pedido.deslocamento.origemPrestador"
                                       name="origemPrestador">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group label-static">
                                <label for="destinoPrestador" class="control-label">Destino:</label>
                                <input type="text"
                                       class="form-control"
                                       id="destinoPrestador"
                                       ng-model="pedido.deslocamento.destinoPrestador"
                                       name="destinoPrestador">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group label-static">
                                <label for="retornoPrestador" class="control-label">Retorno:</label>
                                <input type="text"
                                       class="form-control"
                                       id="retornoPrestador"
                                       ng-model="pedido.deslocamento.retornoPrestador"
                                       name="retornoPrestador">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group label-static">
                                <label for="prestadorKmPercorrido" class="control-label">Km Percorrido:</label>
                                <input number-format
                                       type="text"
                                       class="form-control"
                                       id="prestadorKmPercorrido"
                                       ng-model="pedido.deslocamento.prestadorKmPercorrido"
                                       name="prestadorKmPercorrido">
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group label-static">
                                <label for="prestadorHonorarioAcordado" class="control-label">Honorário Acordado:</label>
                                <input mask-money
                                       type="text"
                                       class="form-control"
                                       id="prestadorHonorarioAcordado"
                                       ng-model="pedido.deslocamento.prestadorHonorarioAcordado"
                                       name="prestadorHonorarioAcordado">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" ng-if="showFormPrestador" style="margin-top: 40px;">
                <div class="col-lg-12">
                    <button id="btn-signup pull-right"
                            ng-click="salvarDeslocamento()"
                            href="javascript:void(0)"
                            class="btn btn-raised btn-info">Salvar</button>
                </div>
            </div>
        </form>

    </div>


    <!----------------------------------------------------------------
         //-- Modal para confirmar rejeitar pedido
         ------------------------------------------------------------------>
    <script type="text/ng-template" id="pedidoModalConfirmRecusa.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
            <h4 class="modal-title">Atenção</h4>
        </div>
        <div class="modal-body">
            <p>Tem certeza que o Pedido({{pedido.nrPedido}}) foi <label class="label label-danger">RECUSADO</label>?</b></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
            <button type="button" ng-click="ok()" class="btn btn-primary btn-delete">Confirmar</button>
        </div>
    </script>


    <!----------------------------------------------------------------
         //-- Modal para adicionar Kms
         ------------------------------------------------------------------>
    <script type="text/ng-template" id="pedidoModalAddKm.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
            <h4 class="modal-title">Solicitar Adicionar Kms</h4>
        </div>
        <div class="modal-body">

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputAddKm" class="col-md-3 control-label">Adicional de KM</label>

                    <div class="col-md-9">
                        <input number-format
                               type="text"
                               ng-model="pedido.deslocamento.adicionalKm"
                               class="form-control"
                               id="inputAddKm"
                               placeholder="Adicional Km">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
            <button type="button" ng-click="ok()" class="btn btn-success">Solicitar Adicional</button>
        </div>
    </script>

    <!----------------------------------------------------------------
         //-- pedidoDialogEnviarEmailCia
         ------------------------------------------------------------------>
    <script type="text/ng-template" id="pedidoDialogEnviarEmailCia.html">
        <div class="modal-header">
            <!--<button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>-->
            <h4 class="modal-title">E-mail para solicitação de adicional de deslocamento</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">Para</label>

                    <div class="col-md-10">
                        <input type="email" ng-model="pedido.ramo.emailResponsavel" class="form-control" id="inputEmail" placeholder="Email Responsável Ramo" readonly>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="form-group">
                    <label for="textArea" class="col-md-2 control-label">Mensagem</label>

                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" id="textArea" readonly ng-model="mensagem"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-raised" ng-click="cancel()">Cancelar</button>
            <button type="button" ng-click="ok()" class="btn btn-success btn-raised">Enviar E-mail</button>
        </div>
    </script>


    <!----------------------------------------------------------------
             //-- Modal para confirmar deletar pedido
             ------------------------------------------------------------------>
    <script type="text/ng-template" id="pedidoModalConfirmDelete.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
            <h4 class="modal-title">Atenção</h4>
        </div>
        <div class="modal-body">
            <p>Deseja remover pedido {{pedido.nrPedido}}?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
            <button type="button" ng-click="ok()" class="btn btn-primary btn-delete">Confirmar</button>
        </div>
    </script>
</div>